.header {
	width: 90%;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.items-controller,
.search {
	flex-shrink: 0;
	display: flex;
	align-content: center;
	align-items: center;
}
select {
	padding: 2px;
	margin: 0 10px;
	outline: none;
	cursor: pointer;
	border: none;
	background: transparent;
}
.search > input {
	padding: 8px;
	border: none;
	outline: navajowhite;
	margin: 0 0 0 20px;
	background: white;
}
.field {
	width: 90%;
	height: auto;
	margin: auto;
}
